@media screen and (max-width: 400px){
    main section.main{
        padding: 0px;
        width: 100%;
    }

    main section.main .main{
        margin: 0px;
    }

    main aside{
        margin-top: 74px;
        display: none;
        z-index: 1;
    }

    main aside img{
        margin-top: 0px;
    }
    
    .modal .addItem{
        width: 100%;
        height: 60%;
    }

    .addItem .header .title{
        font-size: 15pt;
    }

    .addItem .body .item .title{
        width: 30%;
        font-size: 10pt;
    }

    .addItem .body .item .action .dropdown .header .value{
        font-size: 13px;
    }

    .addItem .body .item .action .dropdown .header img{
        width: 10px;
    }

    .addItem .body .item .action .dropdown .list .item{
        font-size: 13px;
    }
}
}
